html {
    background: url('../images/background.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

header h1 {
    text-align: center;
}

#open {
    display: inline-block;
}

#form-container {
    background-color: chocolate;
    opacity: 0.55;
}
