@font-face {
    font-family: Classy;
    src: url(../Fonts/Butler_Light.otf);
    font-style: normal;
}

html {
    background: url('../Images/background-schedule.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Classy, sans-serif;
}

body {
    margin: 0;
}
#header {
    -webkit-background-size: 25px;
    background-size: 25px;
    text-align: center;
    font-size: 65px;
    color: white;
}

#day {
    text-align: center;
}

#day ul {
    padding: 0;
}

.option {
    display: inline;
    float: left;
    border: 1px solid gold;
    width: calc(50% - 2px);
    height: 75px;
    background-color: white;
    font-size: 20px;
}