@font-face {
    font-family: Classy;
    src: url(../Fonts/Butler_Light.otf);
    font-style: normal;
}

html {
    background: url('../Images/background-schedule.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Classy, sans-serif;
    color: white;
}

body {
    margin: 0;
}

#header {
    margin: 20px;
    text-align: center;
    font-size: 65px;
}

#day {
    text-align: center;
}

#day ul {
    margin: 0;
    padding: 0;
}

.option {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid gold;
    border-top-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    width: calc(50% - 2px);
    height: 32px;
    background-color: rgba(25, 25, 25, 0.55);
    list-style-type: none;
    font-size: 30px;
}

.course {
    border-bottom: 1px solid gold;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    border-top-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    background-color: rgba(25, 25, 25, 0.55);
    min-height: 500px;
}

#tomorrow {
    display: none;
}